<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Crow monitoring</title>
    <lasso-head/>
</head>
<body>
    <app-header ${input} />
    <dashboard ${input} />
    <lasso-body/>
</body>
</html>