@import '../../variables.scss';

.dashboard {
  width: 100%;
  min-height: 100%;
  h2 {
    margin-top: 48px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .de-emphasize {
    color: $disabledText;
  }
  table {
    width: 100%;
    background-color: white;
    td {
      padding: 4px;
    }

    tbody tr:nth-child(odd) {
      background-color: #f8f8f8;
    }
    tbody tr:hover {
      background-color: #CECECE;
      &.danger {
        background-color: $dangerSecondary;
      }
      &.success {
        background-color: $successSecondary;
      }
    }
    .colgroup-header {
      border-bottom: 1px solid $dn5Blue;
      font-size: 12px;
      font-weight: normal;
    }
    .col-header td {
      border-bottom: 2px solid $dn5Blue; 
    }
    .center {
      text-align: center;
    }
    .emphasize {
      font-weight: bold;
    }
    .monitor-status {
      margin: 0 4px;
      padding: 4px 8px;
      text-align: center;
      border-radius: 3px;
      &.danger {
        background-color: $dangerPrimary;
        color: $lightText;
      }
      &.success {
        background-color: $successPrimary;
        color: $lightText;
      }
    }
  }
}