<div class="row between-xs app-header">
    <div class="col-xs-2 logo">
        <div class="box">
            <a href="/">
                <img src="/crow-full.svg" width="60px" height="60px"/>
                Crow monitoring
            </a>
        </div>
    </div>
    <div class="col-xs-2 logo">
        <div class="box">
          <account-menu ${input} />
        </div>
    </div>
</div>