<div class="row between-xs app-header">
    <div class="col-xs-2 logo">
        <div class="box">
          <img src="/crow-full.svg" width="60px" height="60px"/>
          Crow monitoring
        </div>
    </div>
</div>