<div class="row between-xs app-header">
    <div class="col-xs-3 logo">
        <div class="box">
            <a href="/">
                <img src="/crow-small.svg" width="30px" height="30px"/>
                DN5
            </a>
        </div>
    </div>
    <div class="col-xs-2 logo">
        <div class="box">
          <account-menu ${input} />
        </div>
    </div>
</div>